{% extends "layout.html" %}

{% block title %}WPLEX EE - XVM{% endblock %}

{% block body %}

{{ super() }}

<div id="site_content">
    <div id="content" class="form_settings">
        <!-- insert the page content here -->
        <h2>XVM TERMINAL REMOTO</h2>
        <form method="POST" action="/remote/xvm">
            <div class="form-group">
                <h5>ID WPLEX</h5>
                <input type="text" name="id_xvm" />
                <br><br>
                <h5>COMANDO</h5>
                <input type="text" name="cmd_xvm" />
            </div>
            <br>
            <input class="btn" type="submit" value="Enviar">
        </form>
        <br>
        <p>Resposta: <br> {{ ans_xvm }}</p>
    </div>
</div>

{% endblock %}