{% extends "layout.html" %}

{% block title %}WPLEX EE{% endblock %}

{% block body %}
{{ super() }}

<div id="site_content">
    <!--<div id="banner"></div> -->
    <div id="sidebar_container">
        <div class="sidebar">
            <div class="sidebar_top"></div>
            <div class="sidebar_item">
                <!-- insert your sidebar items here -->
                <h3>Notícias e Novidades</h3>
                <h4>Artigo: Como funciona o GPS ?</h4>
                <h5>Janeiro 15, 2018</h5>
                <p>Nesse artigo você verá como funciona o sistema de posicionamento GPS.<br /><a href="/home/news">Leia mais</a></p>

                <h4>Dicas: Prolongando a vida útil de seu equipamento</h4>
                <h5>Janeiro 15, 2018</h5>
                <p>Algumas dicas importantes para preservar e prolongar a vida útil de seu equipamento.<br /><a href="/home/news">Leia mais</a></p>
            </div>
            <div class="sidebar_base"></div>
        </div>
       
    </div>

    <div id="content">
        <!-- insert the page content here -->
        <h1>Equipamentos Embarcados - WPLEX,</h1>
        <p>Aqui você encontra tudo que precisa saber sobre seu equipamento. Desde a instalação, manutenção e controle dos equipamentos em operação.</p>
        <h2>Equipamentos</h2>
        <p>Os equipamentos que fazem parte do WPLEX Embarcados são:</p>
        <ul>
            <li>VIRLOCTECH - POSICIONADOR SATELIDAL Mod. VIRLOC 11 - VS</li>
            <li>VIRLOCTECH - POSICIONADOR SATELIDAL Mod. VIRLOC 10 - VS</li>
            <li>VIRLOCTECH - COMPUTADOR DE BORDO Mod. VIRCOM3 - 134B </li>
        </ul>
    </div>
</div>


{% endblock %}