<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8"/>
        <title>Equipamentos Embarcados | WPLEX</title>
        <link rel="stylesheet" type="text/css" href="static/style2.css" />
    </head>

    <body>
        <div id="interface">

            <header id="cabecalho">
                <h1>Equipamentos Embarcados</h1>
                <h2>Guia de instalação e manutenção Equipamentos Virtec </h2>

            <img id="icone" src="_imagens/logo_cor_co_maior.png"/>
                <nav id="menu">
                    <h1>Menu Principal</h1>
                    <ul type="square">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="instalacao.html">Instalação</a></li>
                        <li><a href="manutencao.html">Manutenção</a></li>
                        <li><a href="xvm.html">XVM</a></li>
                        <li><a href="index.html">Fale conosco</a></li>
                    </ul>
                </nav>
            </header>

        <section id="corpo">
            <article id="noticia-principal">

            <h2>VIRLOC E VIRCOM</h2>
                <p><span>Virloc11</span> é um  rastreador GPS de 16 canais, possui um controlador ARM7 de 32bits, modem
                GSM-GPRS quad band, acelerômetro digital de 3 eixos, memória de registro de até 200mil posicições,
                bateria de Lithium Polymer entre outras funcionalidades.</p>

            <figure class="foto-virloc" alt="Virloc 11">
                <img src="_imagens/virloc11.jpeg" width="10"/>
            </figure>

                <p>Mais um texto aqui.</p>

            <h2>Especificações Técnicas</h2>
            <table id="tabelaspec">
            <caption>Tabela Técnica do Virloc 11 <span>Mar/2013</span></caption>
                <tr><td class="ce">Tela</td><td class="cd">Resolução equivalente a tela de 25"</td></tr>
                <tr><td rowspan="2" class="ce">Camera</td><td class="cd">5MP para fotos</td></tr>
                <tr><td class="cd">720p para vídeos</td></tr>
                <tr><td rowspan="2" class="ce">Conectividade</td><td class="cd">Wi-Fi</td></tr>
                <tr><td class="cd">Bluetooth</td></tr>
                <tr><td class="ce">Memória Interna</td><td class="cd">12GB</td></tr>
            </table>

            <h2>Como funciona</h2>
            <p>De acordo com fontes próximas do Google, os óculos vão contar com uma pequena tela de LCD ou AMOLED na parte
            superior e em frente aos olhos do usuário. Com o uso de uma câmera e GPS, você pode se situar, assim como selecionar
                opções com o movimento da cabeça</p>
            </article>

        </section>

        <footer id="rodape">
        <p>Copyright 2017 &copy; - by Rogério Prando <br/>
            <a>Facebook</a> | <a>Skype</a></p>
        </footer>

        </div>
    </body>
</html>